<h1>Edit <%= @user.username %>!</h1>

<%= form_for @user do |f| %>
	<p>Username: <%= f.text_field :username %></p><br>
	<p>Email: <%= f.text_field :email %></p><br>
	<p>Date of Birth: <%= f.date_field :birthdate %></p><br><br>

	<%= f.submit "Edit this user!" %>
<% end %>

<%= link_to "back to the users list!", users_path %>