<h1>USERS</h1>

<p class="link"><%= link_to 'Add a new user', new_user_path %></p>

<table>
	<thead>
	<tr>
		<th>USERNAME</th>
		<th>EMAIL</th>
		<th>DATE OF BIRTH</th>
		<th>ACTIONS</th>
		<th colspan="5"></th>
	</tr>
	</thead>

	<tbody>
	<p class="sort-users"><%= @users = @users.sort_by { |a| a[:username] } %></p>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.birthdate %></td>
			<td><%= link_to 'Show', user %>
				  <%= link_to 'Delete', user, method: :delete, data: {confirm: "Are you sure?"} %>
				  <%= link_to 'Edit', edit_user_path(user) %></td>
		</tr>
	<% end %>
	</tbody>
</table>